<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CC GitRepo status viewer</title>
    <!-- <link rel="stylesheet" href="/css/Semantic-UI-CSS-master/semantic.min.css"> -->
</head>

<style>

    html{
        height: 100%;
    }

    body{
        margin: 0;
        height: 100%;
        background: #fcfbcc;
    }

    .header{
        text-align: center;
        background-color: rgb(10, 157, 224);
        height: 70px;
        font-size: 150%;
        box-shadow: 4px 4px 4px #000;
        padding: 1%;
    }
    .header h1{
        margin: auto;
    }

</style>

<body>

    <div class="header">
        
        <h1>Codechef GitHub Repo status viewer</h1>

    </div>
    
